body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.mobile-screen {
    height: 750px;
    width: 375px;
    background-color: #E6F2E6;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
header {
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
    color: #4B3C3C;
}
.tasks {
    margin-bottom: 20px;
}
h2 {
    font-size: 18px;
    color: #4B3C3C;
}
.task {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.task img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.checkmark {
    margin-left: auto;
}
.message {
    text-align: center;
    margin-top: 20px;
}
.message img {
    width: 337px;
    height: 363;
}
.affirmation {
    margin-top: 2px;
    font-size: 16px;
    color: #4B3C3C;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 50px;
}